<div class="simple-calendar">
  <div class="calendar-heading">
    <div class="row">
      <div class="col-xs-3">
        <%= link_to '#', 'data-click' => 'calendar-prev' do %>
          <i class="fa fa-angle-left"></i> Prev
        <% end %>
      </div>
      <div class="col-xs-6 text-center">
        <span class="calendar-title">
          <strong><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></strong>
        </span>
      </div>
      <div class="col-xs-3 text-right">
        <%= link_to '#', 'data-click' => 'calendar-next' do %>
          Next <i class="fa fa-angle-right"></i>
        <% end %>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
