<div class="container">
  <div class="row form-group">
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <% if ! @start_date.blank? && @start_date != Date.today %>
        <p>
          Showing archived posts from <%= format_date @start_date %>.
          <%= link_to posts_url do %>
            Back to today.
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= render partial: 'posts', locals: { posts: @posts } %>
    </div>

    <div class="hidden-xs hidden-sm col-md-offset-1 col-md-3">
      <div class="sidebar affix" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
        <h3>Archives</h3>
        <div class="archive">
          <%= render partial: 'calendar', locals: { all_posts: @all_posts, start_date: @start_date } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var startDate = new Date('<%= Time.parse(@start_date.to_s).utc %>');

  $(function() {
    new Posts({
      startDate: startDate
    });
  });
</script>